<!doctype html>
{% load static %}
<html lang="pl">
<head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>
<body>
<nav>
    <div class="nav-label">
        <a href="/">Restauracja</a>
    </div>
    <ul>
        <li><a href="{% url 'orders_list' %}"><i class="material-icons">local_shipping</i></a></li>
        <li><a href="{% url 'cart' %}"><i class="material-icons">shopping_cart</i></a></li>
    </ul>
</nav>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>