{% extends 'pizza/base.html' %}
{% load mathfilters %}
{% block content %}

    <div class="shopping-cart">
        <div class="cart-left">
            {% if cart_items|length > 0 %}
                <h1>Koszyk</h1>
                {% for item in cart_items %}
                    {% for pizza in pizzas %}
                        {% if pizza.pk == item.pk %}
                            <div class="shopping-cart-delegate">
                                <div class="cart-label">
                                    {{ pizza }}
                                </div>
                                <div class="cart-price-count">
                                    <form method='POST' action={% url 'cart_update' pk=pizza.pk %}>
                                        {% csrf_token %}
                                        <input onchange="this.form.submit();" type="number"
                                               min="1" max="20" required
                                               name="count" value={{ item.count }}>
                                    </form>
                                    <div class="price-label">
                                        {{ pizza.price|mul:item.count }} zł
                                    </div>
                                </div>
                                <div class="close-button">
                                    <a href="{% url 'cart_remove_item' pk=forloop.parentloop.counter0 %}">
                                        <i class="material-icons">close</i>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <a class="button" href="{% url 'cart_clear' %}">Wyczyść liste</a>

                </div>
                <div class="cart-right">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                Do zapłaty: {{ total_price }} zł
                            </div>
                        </div>
                        <a class="button"
                               href="{% url 'order_finalize' %}">Finalizuj</a>
                    </div>
                </div>
            {% else %}
                <div class="empty-cart">
                    <i class="material-icons">shopping_cart</i>
                    <div class="text">Koszyk nie zawiera żadnych produktów</div>
                </div>
            {% endif %}
    </div>
{% endblock %}