{% extends 'pizza/base.html' %}
{% load mathfilters %}

{% block content %}
    <div id="cart-main" style="display: flex; align-items: flex-start;">
        <div id="cart-left" style="display: flex; flex-direction: column; width:70%; margin-left: 19px; margin-top: 12px;">
        {% if cart_items|length > 0 %}
            <h1>Koszyk</h1>
            <div style="display: flex; align-items: flex-end; flex-direction: column; justify-content: center;" id="center-div-cart">
                {% for item in cart_items %}
                    {% for pizza in pizzas %}
                        {% if pizza.pk == item.pk %}
                            <div class="cart-item-flex">
                                <div style="background-color:#CE0000;width: 23%; height:100%; box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 30px -2px;">
                                    <div style="background-color: rgb(206, 0, 0); padding-left: 15px; width: 23%; height: 100%; display: flex; align-items: center; justify-content: flex-start; width: 95%">
                                        {{pizza}}
                                    </div>
                                </div>
                                        <div style="background-color:#CE0000; position: relative; display: flex; justify-content: space-around; align-items: center; width: 150px; height:100%; padding: 10px; box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 21px -4px;">
                                            <form method='POST' action={% url 'cart_update' pk=pizza.pk %}> {% csrf_token %}
                                                <input onchange="this.form.submit();" style="height:100%;" type="number" min="1" max="20" required name="count" value={{item.count}}>
                                            </form>
                                            {{   pizza.price|mul:item.count}} zł
                                        </div>
                                    <a style="text-decoration: none;" href="{% url 'cart_remove_item' pk=forloop.parentloop.counter0 %}"><div class="close-button"><i class="material-icons md-48 md-dark">close</i></div></a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
    </div>
    <div id="cart-right" style="background-color: rgb(206, 0, 0); width: 18rem; height: 8rem; margin-top: 71px; margin-left: 11px; display: flex; align-items: center; place-content: space-between; flex-direction: column;">
        <div style="color: white; font-size: 27px; text-align: center; line-height: 34px; letter-spacing: 0.6px; font-weight: 300; margin-top: 10px;">Do zapłaty: 5 zł</div>
        <div style="background-color: rgb(180,1,1);width: 100%; display: flex; justify-content: flex-end; padding-left: 8px; padding-right: 8px; padding-top: 8px; padding-bottom: 8px;">
            <a class="btn btn-danger" style="margin-left: 0px; width:60%" href="{% url 'cart_clear' %}">Wyczyść liste</a>
            <a class="btn btn-success" style="margin-left: 8px; width:40%" href="{% url 'order_finalize'%}">Finalizuj</a>
        </div>
    </div>
    {% else %}
        <p class="text-nowrap" style="position: absolute; text-align:center; font-size: 45px">Koszyk nie zawiera żadnych elementów</p>
    {% endif %}
    </div>
{% endblock %}

