{% extends 'pizza/base.html' %}
{% load i18n %}
{% block content %}

{#     TODO: Rozróżnienie listy na admina i usera po {{ admin }}#}
{#     TODO: [user] Ładne rozwijane listy do orderów z listą itemów które zamawiam#}
{#     TODO: [admin] Możliwość zmiany statusu#}

    <div class="orders-list">
    <h2>Oczekują na akceptacje: </h2>

        <div class="list">
            {% for order in orders %}
               <a href="{% url 'order_detail' pk=order.pk %}">{{ order.start_time }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}