{% extends 'pizza/base.html' %}

{% block content %}
    <div style="width: 30%;display: flex; align-items: flex-start; flex-direction: column; justify-content: center; margin-top: 17px; margin-left: 17px;">
        {% for field in form %}
            {% for error in field.errors %}
                <div style="margin-bottom: 9px; background-color: rgb(231, 76, 60); width: 100%; height: 2.1rem; display: flex; justify-content: center; align-items: center; color: rgb(255, 255, 255); font-size: 17px; line-height: 27px; font-weight: 100;">{{ error|escape }}</div>
            {% endfor %}
        {% endfor %}




        <form style="width:100%" method='POST' action={% url 'order_finalize' %}>
        {% csrf_token %}
            {% for field in form %}
                <div style="font-size: 21px; font-weight: 200; margin-top: 6px; margin-bottom:2px">{{field.label}}{{ field }}</div>
            {% endfor %}
            <div style="padding-top: 9px;"><input class="btn btn-primary" type="submit" value="Potwierdź"></div>
        </form>
    </div>

{% endblock %}