{% extends 'pizza/base.html' %}

{% block content %}
    <div class="order-finalize">
        {% for field in form %}
            {% for error in field.errors %}
                <div>{{ error|escape }}</div>
            {% endfor %}
        {% endfor %}




        <form method='POST' action={% url 'order_finalize' %}>
        {% csrf_token %}
            {% for field in form %}
                <div class="column">
                    <div class="label">{{field.label}}</div><div class="field">{{ field }}</div>
                </div>
            {% endfor %}
        <script src='https://www.google.com/recaptcha/api.js'></script>

            <div class="submit-row">
                <div class="g-recaptcha" data-sitekey="6LdEAp8UAAAAAIyFXfVH8meDYZ3Zby_3o6EWbOSk"></div>
                <input class="btn btn-primary" type="submit" value="Potwierdź">
            </div>
        </form>
    </div>

{% endblock %}