@import 'sanitize.css';
@import 'variables';
@import 'mixins';

@import "components/card";
@import "components/shopping-cart";
@import "components/shopping-cart-delegate";

@import "components/grid-center";
@import "components/navigation";
@import "components/order-finalize";
@import "components/orders-list";


// main container of base.html
body {
  .content {
    width: 100%;
    height:100%;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 8px;
  }
}