.shopping-cart {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 15px;
  margin-right: 15px;
  .cart-left {
    width: 75%;
    h1 {
      color: #333333;
      font-weight: 500;
    }
  }
  .cart-right {
    margin-top: 25px;
    width: calc(25% - 10px);
    align-content: center;
    vertical-align: baseline;
    display: flex; justify-content: flex-end;
    .card {
      width: 260px;
      max-width: 260px;
      min-width: 220px;
      height: 140px;
      display: flex; justify-content: center; align-items: flex-start;
      .card-header {
        display: flex; justify-content: center;
        padding-top: 15px;
        .card-title {
          width: 200px;
          max-width: 200px;
          font-size: 23px;
          text-align: center;
        }
      }
      .button-row {
        display: flex; justify-content: center;
        justify-content: space-between;
        position: absolute;
        bottom: 10px;
        width: 200px;
        max-width: 200px;
        a {
          text-decoration: none;
          padding: 6px 11px;
          background-color: #d0d0d0;
          color: #494949;
        }
        a:hover {
          background-color: #c5c5c5;
          color: #636363;
        }
      }
    }
  }
}
